body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}  
.highlight{
    color: orangered;
}
.know-me{
    color: rgb(170, 189, 4);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 67%;
    padding-top: 8%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}